<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>error {{ error_code }}</title>
  <link href="http://192.168.123.83/recrepo/bootstrap3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <style>
    body {
      padding-top: 15%;
      padding-left: 15%;
    }

    .page-header {
      border-bottom: 4px solid #eee;
    }
  </style>
</head>

<body>

  <div class="page-header">
    <h1>Error<small>{{ error_code }}</small> <small>{{ error_msg }}</small></h1>
  </div>
  <script src="http://192.168.123.83/recrepo/vue/vue-2.6.11-dev.js"></script>
  <script src="http://192.168.123.83/recrepo/jquery/jquery-1.10.2-min.js"></script>
  <script src="http://192.168.123.83/recrepo/bootstrap3.3.7/js/bootstrap.min.js"></script>

</body>

</html>